* {
	box-sizing: border-box;
	font-family: "Lucida Console", Monaco, monospace;
}


#container {
	width: 700px;
	height: 450px;
	border: 1px solid #c1c1c1;
	border-radius: 20px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 30px;
	position: relative;
}

#inputs {
	width: 50%;
	text-align: left;
	margin: 0 auto;
}

#buttons {
	margin: 0 auto;
	text-align: center;
}

#result {
	width: 70%;
	border: 1px solid #c1c1c1;
	margin: 0 auto;
	position: relative;
}

#output {
	background-color: #f1f1f1;
	border-radius: 35px;
	width: 350px;
	height: 50px;
	border: 1px solid #c1c1c1;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	padding: 10px;
	line-height: 25px;
	font-size: 1.1em;
}

#meaning {
	display: none;
	position: absolute;
	width: 300px;
	top: 75px;
	right: 0;
	background-color: black;
	color: #f1f1f1;
	padding: 10px;
	font-size: 0.8em;
}

.checkboxes {
	margin-right: 10px;
}

#copy {
	width: 30px;
	height: 30px;
	background-color: #d1d1d1;
	text-align: center;
	line-height: 30px;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 auto;
	cursor: pointer;
}

h1, h3 	{
	font-weight: normal;
	text-align: center;
	padding: 0;
}

h1 {
	margin-top: 100px;
}
